body {
    max-width:1000px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url("../img/image-bkg.jpg");
}
